html,body{
    margin: 0%;
    background-image:url(bilder/691888.jpg);
    background-size: cover;
}
h1{
 color:darkgrey;  
 background-color: black;
 display: flex;
 justify-content: center;
margin: 0%;
}
.Biler1{
width: 1000px;
background-color: rgb(0, 0, 0);
color: darkgrey;
padding: 10px;
margin: 0%;
}
div{
    
    display:flex;
    justify-content: space-between;
}
